* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

/*================
HEADER OCH LOGOTYP
================*/

.site-header {
  background-color: #1c1a0a;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.375rem 1.875rem;
}

.logo img {
  width: 2.125rem;
  height: 2.125rem;
}

.logo p {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #ffffff;
}

/*========
NAVIGERING
========*/

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #c8bea1;
}

.site-nav a {
  display: block;
  padding: 0.625rem 3.75rem;
  background-color: #f4edd5;
  color: #454331;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.site-nav a:hover {
  /* hover visar var muskpekaren är */
  background-color: #cec49e;
}

.site-nav a:focus-visible {
  /* visar var trangentbordsfokus är */
  background-color: #cec49e;
  outline: 3px solid #af7436; /* ritar fokuslinjen */
  outline-offset: -3px; /* flyttar fokuslinjen ut eller in */
}

/* HERO-innehåll*/
.hero-container {
  background-color: #3f3c24;
  color: #ffffff;
}

.hero-content h1 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero-content p {
  margin: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  padding: 1.125rem 1.625rem;
  text-align: center;
}

/*Introduktion*/
.intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: #f3ecd4;
  color: #3d3a23;
  text-align: center;
}

.intro h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.intro p {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
}

/* KNAPPARNA*/
.button {
  display: inline-block;
  background-color: #af7436;
  color: #ffffff;
  padding: 0.5625rem 1.125rem;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:hover {
  background-color: #ce9458;
}

.button:focus-visible {
  background-color: #ce9458;
  outline: 3px solid #ffffff;
  outline-offset: 3px;
}

/*Aktiviteter*/
.activities {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.875rem;
  padding: 2rem 1.5rem;
  color: #3d3a23;
  font-size: 1.125rem;
  text-align: center;
}

.activities h2 {
  margin: 0;
  font-size: 1.25rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.card-container h3 {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  width: 100%;
  background-color: #ffffff;
  color: #1c1a0a;
}

.card img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 10; /*bestämmer bildrutans form*/
  object-fit: cover;
}

.card {
  background-color: #cec49e;
  color: #1c1a0a;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 1.25rem 1rem;
}

/*PLANERA DITT BESÖK*/
.visit {
  display: flex;
  flex-direction: column;
  background-color: #f3ecd4;
  color: #3d3a23;
  text-align: center;
  gap: 1.125rem;
  padding: 2.125rem 1.625rem;
  margin: 0;
}

.visit h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.visit p {
  margin: 0;
  font-size: 1.125rem;
}

.visit .button {
  align-self: center;
}

/*====
FOOTER
======*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background-color: #3f3c24;
  color: #ffffff;
  padding: 2rem 1.5rem;
}

.footer-brand {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.footer-brand img {
  max-width: 60px;
}

.footer-brand h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.footer-brand p {
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.footer-contact h4,
.footer-links h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}

.footer-contact,
.footer-links {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none;
}

.nav-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:focus-visible {
  outline: 3px solid #ffffff;
  outline-offset: 3px;
}

/*==============================
MEDIA QUERIES: SKÄRMANPASSNINGAR
===============================*/

@media (min-width: 48rem) {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-nav ul {
    display: flex;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70rem;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
  }

  .footer-brand {
    align-items: flex-start;
    text-align: left;
  }

  .footer-contact, .footer-links {
    align-items: flex-start;
  }

  .intro p,
  .visit p,
  .hero-container p,
  .hero-container h1 {
    width: 100%;
    max-width: 30rem;
    margin-inline: auto;
  }

  .hero-container {
    position: relative;
  }

  .hero-content {
    background-color: rgb(28, 26, 10, 0.7);
    border-radius: 8px;
    position: absolute;
    bottom: 10rem;
    right: 50rem;
    left: 10rem;
    max-width: 25rem;
  }
}
