* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

img {
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: 1fr;
padding: 6px 30px 6px;  
  background-color: #1c1a0a;
  color: #ffffff;
}

.nav {
  background-color:#cec49e;
}

.hero {
  background-color: #cec49e;
  color: #1c1a0a;
}

.hero-content {
  text-align: center;
}

.activities {
 padding: 32px;
 
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  background-color: #ffffff;
  color: #1c1a0a;
}

.card {
  background-color: #cec49e;
  color: #1c1a0a;
}