* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", Arial, sans-serif;
}

img {
  width: 100%;
}
/*HEADER*/
.site-header {
  background-color: #1c1a0a;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 30px;
}

.logo img {
  width: 34px;
  height: 34px;
}

.logo p {
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

/*NAVIGERING*/
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #c8bea1;
}

.site-nav a {
  display: block;
  padding: 8px 60px;
  font-weight: regular;
  color: #454331;
  background-color: #f4edd5;
  text-align: left;
  text-decoration: none;
}

/*hero-innehåll*/
.hero-container {
  margin: 0;
  gap: 18px;
  background-color: #3f3c24;
  color: #ffffff;
}

h1 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.hero-content p {
  margin: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  padding: 18px 26px;
  letter-spacing: 4%;
  text-align: center;
}

/*Intro*/
.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 16px 23px;
  gap: 16px;
  background-color: #f3ecd4;
  color: #3d3a23;
}

.intro h2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.intro p {
  margin: 0;
  font-size: 18px;
  font-weight: medium;
  text-align: center;
  letter-spacing: 1%;
}

button {
  background-color: #af7436;
  color: #ffffff;
  padding: 9px 18px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*Aktiviteter*/
.activities {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 2rem 1.5rem;
  color: #3d3a23;
  font-size: 1.125rem;
  text-align: center;
}

.activities h2 {
  margin: 0;
  font-size: 1.25rem;
  letter-spacing: 0,04em;
  text-transform: uppercase;
}

.card-container h3 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
  width: 100%;
  background-color: #ffffff;
  color: #1c1a0a;
}

.card img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 10; /*bestämmer bildrutans form*/
  object-fit: cover;
}

.card {
  background-color: #cec49e;
  color: #1c1a0a;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5 rem;
  padding: 0.75rem 1.25rem 1rem;
}

/*Footer innehåll*/
footer {
  background-color: #3f3c24;
  color: #ffffff;
}
